*box-sizing: border-box;
h1 {
  text-align: center;
  font-size: 50px;
}
body {
  background-image: url(képek/hatterkep.jfif);
}
a {
  color: brown;
  text-decoration: none;
  padding: 5px;
  font-size: 50px;
}
a:hover {
  color: blue;
  background-color: azure;
  transition: 0.3s;
}

.tarolo,
.fejlec,
.tartalom,
.lablec {
  border: 1px solid rgb(1, 22, 92);
  padding: 10px;
}
.tarolo {
  background-color: rgb(206, 169, 124);
}
.tarolo {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}
img {
  width: 100%;
  border: 1px solid brown;
  border-radius: 10px;
  padding: 10px;
}
.tartalom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .tartalom {
    grid-template-columns: 1fr;
  }
}